/* layout */
@import url("https://fonts.googleapis.com/css?family=Bungee|Source+Sans+Pro:300,400,600");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/*
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * https://css-tricks.com/international-box-sizing-awareness-day/
 */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Global layout 
 */

body {
  /*Custom font, loaded via Google */
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  color: #545149;
  background-color: #cbd0bc;
  font-size: 24px;
}

aside {
  background-color: #616058;
  /* Using an image as a background */
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  /* height: 400px; */
  padding: 40px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 5px 60px -15px rgb(0 0 0 / 25%);
  position: fixed;
  color: #fff;
}

/* Tablet and mobile layout*/

@media only screen and (max-width: 1025px) {
  aside {
    width: 100%;
    position: relative;
    height: auto;
    margin-bottom: 25px;
  }

  .container {
    margin: 0 auto;
    width: 90%;
  }
}

/*Desktop layout*/

@media only screen and (min-width: 1025px) {
  aside {
    width: 30%;
    float: left;
    margin: 160px 0px 220px 60px;
  }

  .container {
    width: 50%;
    float: right;
    margin: 160px 60px;
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 120px;
  background: #616058;
  padding: 1.5em 1.5em;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

.nav--text {
  float: left;
  margin-left: 10px;
  font-size: 1.5em;
  font-family: "Bungee", cursive;
  color: #fff;
}

@keyframes float {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }

  50% {
    transform: translateY(0.5rem);
    -webkit-transform: translateY(0.5rem);
  }

  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

@media only screen and (max-width: 1025px) {
  nav {
    background: none;
  }
}

.profile {
  position: relative;
  padding: 12px;
  height: 80%;
}

.profile__name {
  text-align: left;
  width: 100%;
}

.profile__name h2 {
  margin: 0;
  font-weight: 300;
  color: #fff;
}

.profile--bold {
  font-weight: 600;
}

@media only screen and (max-width: 1025px) {
  .profile__image,
  .profile__name {
    display: none;
  }
  .profile__description {
    padding: 10px;
  }
}

@media only screen and (min-width: 1025px) {
  .profile__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.profile__description {
  margin: 1em 0em;
}

.project--container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 5px 60px -15px rgb(0 0 0 / 25%);
  margin-bottom: 25px;
}

.project--container p {
  font-weight: 300;
  font-size: 22px;
}

.project--poster {
  object-fit: fill;
  border-radius: 8px;
  box-shadow: 0 20px 40px -15px rgb(0 0 0 / 25%);
}
.project--link,
.hyperlink {
  background-color: #00000014;
  border-radius: 12px;
  padding: 5px 16px;
}

.profile__action {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
}

.profile--btn {
  background-color: #ffffff6b;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.contact__item {
  background-color: #ffffff6b;
  border-radius: 10px;
}

h2 {
  margin: 15px 0px;
  font-weight: 900;
}

h4,
p {
  margin: 10px 0px;
}

h5 {
  margin: 10px 0px;
  font-weight: normal;
}
